<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.jdbc.BookMapper">

	<insert id="insertBook">
		insert into books (title, author, date)
		value (#{title,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, NOW())
	</insert>
	<select id="queryById" resultType="Books">
		select * from books where id = #{id}
	</select>
</mapper>